body{
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 100vh;
    overflow-y: hidden;
    align-items: center;
}

form{
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: auto auto auto;
    justify-content: center;
    align-items: center;
}

#username{
    grid-row: 1;
    display: flex;
    justify-self: center;
    margin-bottom: 10px;
}

#username > label{
    font-size: 26px;
    line-height: 40px;
    margin-right: 5px;
}

#username > input{
    padding-left: 6px;
    font-size: 20px;
    height: 40px;
    width: 210px;
}

#password{
    grid-row: 2;
    display: flex;
    justify-self: center;
    margin-bottom: 10px;
}

#password > label{
    font-size: 26px;
    line-height: 40px;
    margin-right: 5px;
}

#password > input{
    padding-left: 6px;
    height: 40px;
    width: 210px;
}

input{
    border: 2px solid black;
}

#login{
    grid-row: 3;
    border: 2px solid black;
    justify-self: center;
    font-size: 20px;
    height: 40px;
    width: 330px;
    margin-bottom: 10px;
    cursor: pointer;
}

#register{
    grid-row: 4;
    border: 2px solid black;
    justify-self: center;
    font-size: 20px;
    height: 40px;
    width: 330px;
    cursor: pointer;
}

