*{
    border: 0;
    padding: 0;
    margin: 0;
    background: none;
    -webkit-touch-callout: none; /*iOS Safari*/
    -webkit-user-select: none; /*Safari*/
    -khtml-user-select: none; /*Konqueror HTML*/
    -moz-user-select: none; /*Old versions of Firefox*/
    -ms-user-select: none; /*Internet Explorer/Edge*/
    user-select: none;
    overflow-x: hidden;
    font-family: 'Courier New', Courier, monospace;
}

html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border: 6px solid darkgray;
    border-radius: 5px;
    margin-right: 10px;
}

html::-webkit-scrollbar-thumb:hover {
    border-color: gray;
}

p{
    font-size: 20px;
    user-select: text;
}

h1{
    font-size: 20px;
    font-weight: bold;
}