*{
    border: 0;
    padding: 0;
    margin: 0;
    background: none;
    -webkit-touch-callout: none; /*iOS Safari*/
    -webkit-user-select: none; /*Safari*/
    -khtml-user-select: none; /*Konqueror HTML*/
    -moz-user-select: none; /*Old versions of Firefox*/
    -ms-user-select: none; /*Internet Explorer/Edge*/
    user-select: none;
    overflow-x: hidden;
}

.text{
    font-size: 20px;
    text-align: center;
}