<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="nofollow, noindex, noarchive, nocache, noydir, nosnippet, noimageindex, nositelinkssearchbox">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/index.css">
        <title>Menu</title>
    </head>
    <link>
        <h1 style="text-align: center;">vip remains until: {{ vip_time }}</h1>
        <btns>
            <button class="big_btn" onclick="window.open('/create-link', '_self');" style="background-color: rgb(3, 196, 3);">CREATE LINK</button>
            <button class="big_btn" onclick="window.open('/get-vip', '_self');" style="background-color: rgb(94, 158, 255);">GET VIP</button>
            <button class="big_btn" onclick="window.open('/logout', '_self');" style="background-color: rgb(254, 75, 75);">LOGOUT</button>
        </btns>
        <my_links>
            {% for i in my_links %}
            <div class="link" style="grid-row: {{ loop.index }};">
                <p class="link_name" style="background-color: rgb(222, 222, 222);">{{ app_link }}/access/{{ session['session_user'] }}/{{ i.name }}</p>
                <button class="trash" onclick="window.open('/delete/{{ session['session_user'] }}/{{ i.name }}', '_self');"></button>
                <button class="normal_btn" onclick="window.open('/info/{{ session['session_user'] }}/{{ i.name }}', '_self');"> INFO</button>
                <button class="normal_btn" onclick="window.open('/update/{{ session['session_user'] }}/{{ i.name }}', '_self');"> UPDATE</button>
                <button class="normal_btn" onclick="window.open('/access/{{ session['session_user'] }}/{{ i.name }}', '_self');"> ACCESS</button>
            </div>
            {% endfor %}
        </my_links>
    </body>
</html>