<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="nofollow, noindex, noarchive, nocache, noydir, nosnippet, noimageindex, nositelinkssearchbox">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/index.css">
        <title>Menu</title>
    </head>
    <link>
        <btns>
            <button id="create_link_btn" onclick="window.open('/create-link', '_self');" style="background-color: green;">CREATE LINK</button>
            <button id="logout_btn" onclick="window.open('/logout', '_self');" style="background-color: red;">LOGOUT</button>
        </btns>
        <my_links>
            {% set next_color = 0 %}
            {% for i in my_links %}
            <link style="grid-row: {{ i.index }};">
            {% if next_color == 0 %}
                <link_name class="link_name" style="background-color: rgb(222, 222, 222);">{{ app_link }}/access/{{ session['session_user'] }}/{{ i.name }}</link_name>
                {% set next_color = 1 %}
            {% else %}
                <link_name class="link_name" style="background-color: rgb(182, 182, 182);">{{ app_link }}/{{ session['session_user'] }}/{{ i.name }}/access</link_name>
                {% set next_color = 0 %}
            {% endif %}
                <button class="trash" onclick="window.open('/delete/{{ session['session_user'] }}/{{ i.name }}', '_self');"></button>
                <button class="info" onclick="window.open('/info/{{ session['session_user'] }}/{{ i.name }}', '_self');"> LINK INFO</button>
            </link>
            {% endfor %}
        </my_links>
    </body>
</html>